.searchbar{
    display: flex;
}

.input{
  width:300px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 8px;
}

.button{
  background-color: #2b3142;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  text-align:center;
  padding: 8px;
  cursor: pointer;
  margin-left:15px;
 

  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

    .button:hover{
        color: #2b3142;
        background-color: #ffffff;
    }

    