.container {
  margin: 0px 0px 0px 10px;
}

.ul {
  display: flex;
  justify-content: center;
}

.pageNumber {
  list-style-type: none;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #2b3142;
  color: #2b3142;
  border-radius: 3px;
  padding: 10px;
  margin: 0px 5px 30px 5px;
}

.button {
  text-decoration: none;
  color: #2b3142;
  background: #ffffff;
  margin: 5px 5px 20px 5px;
  border: 1px solid #2b3142;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

    .enabled:hover{
        background: #2b3142;
        color: #ffffff;
    }

.disabled{
    text-decoration: none;
  color: #818181;
  background: #ffffff;
  margin: 5px 5px 20px 5px;
  border: 1px solid #818181;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px 5px 10px;
}