.container{
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: white; */
    padding-top: 10px;
    padding-bottom: 10px;


}

.filter{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

.filter p {
    color: #2b3142;
    padding-right: 2px;
}

.select{
    background-color: #ffffff;
    border: 1px solid #2b3142;
    border-radius: 2px;
    padding-top: 0px;

    height: 30px;
    margin: 0px 10px 0px 0px;
    outline: none;
    cursor: pointer;
    
}

    .select:focus{
        border: 2px solid #f4a15c;
    }

.order{
    margin: 0px 20px 0px 0px;
}

.order p{
    color: #ffffff;
    padding-right: 20px;
    
}

.button{
  background-color: #ffffff;
  color: #2b3142;
  border: 1px solid #2b3142;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 5px;
  text-align:center;
  padding: 6px;
  cursor: pointer;

  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

    .button:hover{
        color: #ffffff;
        background-color: #2b3142;
    }